@media only screen and (max-width: 1400px) {
  #imgshow {
    vertical-align: middle !important;
    width: 340px !important;
    height: 340px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 225px !important;
    bottom: 422px !important;
  }

  #imgSection {
    height: 630px !important;
  }
}

@media only screen and (max-width: 1181px) {
  #imgshow {
    vertical-align: middle !important;
    width: 290px !important;
    height: 292px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 188px !important;
    bottom: 356px !important;
  }

  #imgSection {
    height: 529px !important;
  }
}

@media only screen and (max-width: 991px) {
  #imgshow {
    vertical-align: middle !important;
    width: 210px !important;
    height: 210px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 140px !important;
    bottom: 264px !important;
  }

  #imgSection {
    height: 341.9px !important;
  }
}

@media only screen and (max-width: 767px) {
  #imgshow {
    vertical-align: middle !important;
    width: 330px !important;
    height: 330px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 230px !important;
    bottom: 420px !important;
  }


  #imgSection {
    height: 637px !important;
  }
}

@media only screen and (max-width: 575px) {
  #imgshow {
    vertical-align: middle !important;
    width: 353px !important;
    height: 354px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 246px !important;
    bottom: 449px !important;
  }


  #imgSection {
    height: 677px !important;
  }
}

@media only screen and (max-width: 560px) {
  #imgshow {
    vertical-align: middle !important;
    width: 341px !important;
    height: 341px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 238px !important;
    bottom: 441px !important;
  }

  #imgSection {
    height: 664px !important;
  }
}

@media only screen and (max-width: 548px) {
  #imgshow {
    vertical-align: middle !important;
    width: 341px !important;
    height: 341px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 232px !important;
    bottom: 427px !important;
  }

  #imgSection {
    height: 650px !important;
  }
}

@media only screen and (max-width: 537px) {
  #imgshow {
    vertical-align: middle !important;
    width: 341px !important;
    height: 341px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 226px !important;
    bottom: 424px !important;
  }

  #imgSection {
    height: 634px !important;
  }
}

@media only screen and (max-width: 530px) {
  #imgshow {
    vertical-align: middle !important;
    width: 330px !important;
    height: 330px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 224px !important;
    bottom: 418px !important;
  }

  #imgSection {
    height: 625px !important;
  }
}

@media only screen and (max-width: 518px) {
  #imgshow {
    vertical-align: middle !important;
    width: 330px !important;
    height: 330px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 218px !important;
    bottom: 409px !important;
  }

  #imgSection {
    height: 610px !important;
  }
}

@media only screen and (max-width: 509px) {
  #imgshow {
    vertical-align: middle !important;
    width: 320px !important;
    height: 320px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 216px !important;
    bottom: 403px !important;
  }

  #imgSection {
    height: 594px !important;
  }
}

@media only screen and (max-width: 497px) {
  #imgshow {
    vertical-align: middle !important;
    width: 320px !important;
    height: 320px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 209px !important;
    bottom: 396px !important;
  }

  #imgSection {
    height: 577px !important;
  }
}

@media only screen and (max-width: 490px) {
  #imgshow {
    vertical-align: middle !important;
    width: 310px !important;
    height: 310px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 206px !important;
    bottom: 387px !important;
  }

  #imgSection {
    height: 582px !important;
  }
}

@media only screen and (max-width: 476px) {
  #imgshow {
    vertical-align: middle !important;
    width: 310px !important;
    height: 310px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 201px !important;
    bottom: 381px !important;
  }

  #imgSection {
    height: 560px !important;
  }
}

@media only screen and (max-width: 462px) {
  #imgshow {
    vertical-align: middle !important;
    width: 300px !important;
    height: 300px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 194px !important;
    bottom: 369px !important;
  }

  #imgSection {
    height: 545px !important;
  }
}

@media only screen and (max-width: 453px) {
  #imgshow {
    vertical-align: middle !important;
    width: 290px !important;
    height: 290px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 191px !important;
    bottom: 361px !important;
  }

  #imgSection {
    height: 528px !important;
  }
}

@media only screen and (max-width: 443px) {
  #imgshow {
    vertical-align: middle !important;
    width: 290px !important;
    height: 290px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 187px !important;
    bottom: 357px !important;
  }

  #imgSection {
    height: 529px !important;
  }
}

@media only screen and (max-width: 436px) {
  #imgshow {
    vertical-align: middle !important;
    width: 280px !important;
    height: 280px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 185px !important;
    bottom: 349px !important;

  }

  #imgSection {
    height: 521px !important;
  }
}

@media only screen and (max-width: 428px) {
  #imgshow {
    vertical-align: middle !important;
    width: 280px !important;
    height: 280px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 182px !important;
    bottom: 345px !important;

  }

  #imgSection {
    height: 508px !important;
  }
}

@media only screen and (max-width: 419px) {
  #imgshow {
    vertical-align: middle !important;
    width: 270px !important;
    height: 270px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 178px !important;
    bottom: 336px !important;

  }

  #imgSection {
    height: 501px !important;
  }
}

@media only screen and (max-width: 412px) {
  #imgshow {
    vertical-align: middle !important;
    width: 270px !important;
    height: 270px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 174px !important;
    bottom: 332px !important;

  }

  #imgSection {
    height: 493px !important;
  }
}

@media only screen and (max-width: 405px) {
  #imgshow {
    vertical-align: middle !important;
    width: 270px !important;
    height: 270px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 171px !important;
    bottom: 329px !important;

  }

  #imgSection {
    height: 484px !important;
  }
}

@media only screen and (max-width: 398px) {
  #imgshow {
    vertical-align: middle !important;
    width: 260px !important;
    height: 260px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 169px !important;
    bottom: 321px !important;

  }

  #imgSection {
    height: 478px !important;
  }
}

@media only screen and (max-width: 390px) {
  #imgshow {
    vertical-align: middle !important;
    width: 260px !important;
    height: 260px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 165px !important;
    bottom: 319px !important;

  }

  #imgSection {
    height: 469px !important;
  }
}

@media only screen and (max-width: 381px) {
  #imgshow {
    vertical-align: middle !important;
    width: 250px !important;
    height: 250px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 162px !important;
    bottom: 308px !important;

  }

  #imgSection {
    height: 459px !important;
  }
}

@media only screen and (max-width: 374px) {
  #imgshow {
    vertical-align: middle !important;
    width: 245px !important;
    height: 245px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 159px !important;
    bottom: 303px !important;

  }

  #imgSection {
    height: 450px !important;
  }
}

@media only screen and (max-width: 366px) {
  #imgshow {
    vertical-align: middle !important;
    width: 245px !important;
    height: 245px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 156px !important;
    bottom: 300px !important;

  }

  #imgSection {
    height: 444px !important;
  }
}

@media only screen and (max-width: 360px) {
  #imgshow {
    vertical-align: middle !important;
    width: 240px !important;
    height: 240px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 154px !important;
    bottom: 292px !important;

  }

  #imgSection {
    height: 434px !important;
  }
}

@media only screen and (max-width: 351px) {
  #imgshow {
    vertical-align: middle !important;
    width: 235px !important;
    height: 235px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 150px !important;
    bottom: 286px !important;

  }

  #imgSection {
    height: 423px !important;
  }
}

@media only screen and (max-width: 343px) {
  #imgshow {
    vertical-align: middle !important;
    width: 218px !important;
    height: 218px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 149px !important;
    bottom: 276px !important;

  }

  #imgSection {
    height: 415px !important;
  }
}

@media only screen and (max-width: 332px) {
  #imgshow {
    vertical-align: middle !important;
    width: 218px !important;
    height: 218px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 143px !important;
    bottom: 269px !important;

  }

  #imgSection {
    height: 401px !important;
  }
}

@media only screen and (max-width: 321px) {
  #imgshow {
    vertical-align: middle !important;
    width: 218px !important;
    height: 218px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 138px !important;
    bottom: 265px !important;

  }

  #imgSection {
    height: 392px !important;
  }
}

@media only screen and (max-width: 312px) {
  #imgshow {
    vertical-align: middle !important;
    width: 200px !important;
    height: 200px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 138px !important;
    bottom: 252px !important;

  }

  #imgSection {
    height: 381px !important;
  }
}