@media only screen and (max-width: 1400px) {
  #imgshow {
    vertical-align: middle !important;
    width: 349px !important;
    height: 349px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 260px !important;
    bottom: 590px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 321px !important;
    bottom: 503px !important;
  }

  #imgSection {
    height: 849px !important;
  }
}

@media only screen and (max-width: 1399px) {
  #imgshow {
    vertical-align: middle !important;
    width: 313px !important;
    height: 313px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 227px !important;
    bottom: 525px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 292px !important;
    bottom: 440px !important;
  }

  #imgSection {
    height: 735px !important;
  }
}

@media only screen and (max-width: 1200px) {
  #imgshow {
    vertical-align: middle !important;
    width: 255px !important;
    height: 255px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 192px !important;
    bottom: 433px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 234px !important;
    bottom: 370px !important;
    font-size: 17px !important;
  }

  #imgSection {
    height: 615px !important;
  }
}

@media only screen and (max-width: 1181px) {
  #imgshow {
    vertical-align: middle !important;
    width: 253px !important;
    height: 253px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 190px !important;
    bottom: 429px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 235px !important;
    bottom: 365px !important;
  }

  #imgSection {
    height: 614px !important;
  }
}

@media only screen and (max-width: 992px) {
  #imgshow {
    vertical-align: middle !important;
    width: 187px !important;
    height: 187px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 141px !important;
    bottom: 318px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 173px !important;
    bottom: 269px !important;
    font-size: 15px !important;
  }

  #imgSection {
    height: 456px !important;
  }
}

@media only screen and (max-width: 769px) {
  #imgshow {
    vertical-align: middle !important;
    width: 190px !important;
    height: 190px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 140px !important;
    bottom: 319px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 176px !important;
    bottom: 269px !important;
    font-size: 11px !important;
  }

  #imgSection {
    height: 456px !important;
  }
}

@media only screen and (max-width: 768px) {
  #imgshow {
    vertical-align: middle !important;
    width: 307px !important;
    height: 305px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 230px !important;
    bottom: 519px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 282px !important;
    bottom: 423px !important;
    font-size: 13px !important;
  }

  #imgSection {
    height: 737px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 576px) {
  #imgshow {
    vertical-align: middle !important;
    width: 311px !important;
    height: 311px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 242px !important;
    bottom: 535px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 284px !important;
    bottom: 444px !important;
    font-size: 13px !important;
  }

  #imgSection {
    height: 781px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 555px) {
  #imgshow {
    vertical-align: middle !important;
    width: 311px !important;
    height: 311px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 232px !important;
    bottom: 528px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 284px !important;
    bottom: 435px !important;
    font-size: 13px !important;
  }

  #imgSection {
    height: 767px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 538px) {
  #imgshow {
    vertical-align: middle !important;
    width: 305px !important;
    height: 305px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 224px !important;
    bottom: 517px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 284px !important;
    bottom: 435px !important;
    font-size: 12px !important;
  }

  #imgSection {
    height: 735px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 527px) {
  #imgshow {
    vertical-align: middle !important;
    width: 305px !important;
    height: 305px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 220px !important;
    bottom: 510px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 284px !important;
    bottom: 435px !important;
    font-size: 11px !important;
  }

  #imgSection {
    height: 722px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 518px) {
  #imgshow {
    vertical-align: middle !important;
    width: 298px !important;
    height: 298px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 216px !important;
    bottom: 501px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 277px !important;
    bottom: 417px !important;
    font-size: 11px !important;
  }

  #imgSection {
    height: 711px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 510px) {
  #imgshow {
    vertical-align: middle !important;
    width: 290px !important;
    height: 290px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 214px !important;
    bottom: 491px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 277px !important;
    bottom: 408px !important;
    font-size: 11px !important;
  }

  #imgSection {
    height: 702px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 498px) {
  #imgshow {
    vertical-align: middle !important;
    width: 288px !important;
    height: 288px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 210px !important;
    bottom: 485px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 269px !important;
    bottom: 399px !important;
    font-size: 11px !important;
  }

  #imgSection {
    height: 685px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 490px) {
  #imgshow {
    vertical-align: middle !important;
    width: 280px !important;
    height: 280px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 209px !important;
    bottom: 475px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 260px !important;
    bottom: 388px !important;
    font-size: 10px !important;
  }

  #imgSection {
    height: 673px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 481px) {
  #imgshow {
    vertical-align: middle !important;
    width: 270px !important;
    height: 270px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 203px !important;
    bottom: 462px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 251px !important;
    bottom: 378px !important;
    font-size: 10px !important;
  }

  #imgSection {
    height: 659px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 465px) {
  #imgshow {
    vertical-align: middle !important;
    width: 265px !important;
    height: 265px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 197px !important;
    bottom: 449px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 247px !important;
    bottom: 368px !important;
    font-size: 10px !important;
  }

  #imgSection {
    height: 637px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 450px) {
  #imgshow {
    vertical-align: middle !important;
    width: 260px !important;
    height: 260px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 197px !important;
    bottom: 439px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 242px !important;
    bottom: 371px !important;
    font-size: 9px !important;
  }

  #imgSection {
    height: 621px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 442px) {
  #imgshow {
    vertical-align: middle !important;
    width: 255px !important;
    height: 255px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 187px !important;
    bottom: 430px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 237px !important;
    bottom: 371px !important;
    font-size: 9px !important;
  }

  #imgSection {
    height: 607px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 432px) {
  #imgshow {
    vertical-align: middle !important;
    width: 250px !important;
    height: 250px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 187px !important;
    bottom: 424px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 237px !important;
    bottom: 354px !important;
    font-size: 9px !important;
  }

  #imgSection {
    height: 593px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 426px) {
  #imgshow {
    vertical-align: middle !important;
    width: 245px !important;
    height: 245px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 184px !important;
    bottom: 420px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 231px !important;
    bottom: 347px !important;
    font-size: 11px !important;
  }

  #imgSection {
    height: 586px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 418px) {
  #imgshow {
    vertical-align: middle !important;
    width: 238px !important;
    height: 238px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 182px !important;
    bottom: 404px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 227px !important;
    bottom: 344px !important;
    font-size: 11px !important;
  }

  #imgSection {
    height: 575px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 407px) {
  #imgshow {
    vertical-align: middle !important;
    width: 230px !important;
    height: 230px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 172px !important;
    bottom: 390px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 215px !important;
    bottom: 333px !important;
    font-size: 12px !important;
  }

  #imgSection {
    height: 561px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}
@media only screen and (max-width: 393px) {
  #imgshow {
    vertical-align: middle !important;
    width: 225px !important;
    height: 225px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 166px !important;
    bottom: 380px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 211px !important;
    bottom: 319px !important;
    font-size: 12px !important;
  }

  #imgSection {
    height: 542px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}
@media only screen and (max-width: 380px) {
  #imgshow {
    vertical-align: middle !important;
    width: 220px !important;
    height: 220px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 162px !important;
    bottom: 372px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 207px !important;
    bottom: 311px !important;
    font-size: 12px !important;
  }

  #imgSection {
    height: 524px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}
@media only screen and (max-width: 371px) {
  #imgshow {
    vertical-align: middle !important;
    width: 215px !important;
    height: 215px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 157px !important;
    bottom: 362px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 202px !important;
    bottom: 305px !important;
    font-size: 12px !important;
  }

  #imgSection {
    height: 514px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}
@media only screen and (max-width: 365px) {
  #imgshow {
    vertical-align: middle !important;
    width: 210px !important;
    height: 210px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 155px !important;
    bottom: 354px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 202px !important;
    bottom: 305px !important;
    font-size: 12px !important;
  }

  #imgSection {
    height: 505px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}
@media only screen and (max-width: 355px) {
  #imgshow {
    vertical-align: middle !important;
    width: 205px !important;
    height: 205px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 150px !important;
    bottom: 346px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 193px !important;
    bottom: 294px !important;
    font-size: 12px !important;
  }

  #imgSection {
    height: 490px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}
@media only screen and (max-width: 345px) {
  #imgshow {
    vertical-align: middle !important;
    width: 197px !important;
    height: 197px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 148px !important;
    bottom: 334px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 185px !important;
    bottom: 283px !important;
    font-size: 12px !important;
  }

  #imgSection {
    height: 477px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}
@media only screen and (max-width: 335px) {
  #imgshow {
    vertical-align: middle !important;
    width: 190px !important;
    height: 190px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 142px !important;
    bottom: 322px !important;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 177px !important;
    bottom: 269px !important;
    font-size: 12px !important;
  }

  #imgSection {
    height: 463px !important;
    display: inline-block !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}
@media only screen and (max-width: 323px) {
  #imgshow {
    vertical-align: middle !important;
    width: 185px !important;
    height: 185px !important;
    border-radius: 50% !important;
    position: relative !important;
    left: 137px !important;
    bottom: 314px !important;;
  }

  #userName {
    vertical-align: middle !important;
    width: 392px !important;
    height: 392px !important;
    border-radius: 50% !important;
    position: relative !important;
    right: 173px !important;
    bottom: 262px !important;
    font-size: 12px !important;
  }

  #imgSection {
    height: 455px !important;
    display: inline-block !important;
    padding-right: 0px !important;
  }

  #inputContainer {
    margin-top: 1px !important;
  }
}